.btn-add {
    width: 100%;
    border-radius: 9px;
    padding: 10px 28px 12px 28px;
    color: #ffffff;
    background-image: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
    background-position: 77% 50%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.buy-one-click {
    padding: 12px 20px;
    border: 2px solid #F9A43F;
    background: transparent;
    border-radius: 9px;
    color: #F9A43F;
    cursor: pointer;
    width: 100%;
}